<%- include ("partials/header") -%>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
      <%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
 
 <style>
    
 </style> 
</head>
<%- include('partials/nav') -%>

<!-- Main Site -->
<main id="site-main">
  <div class="mt-3">
    
      
      <a href="/dashboard/add-contact" class="border-shadow btn btn-primary">
        <span class="text-gradient">New Contact <i class="fas fa-user"></i></span>
      </a>
     
      <a class="nav-link" style="display: contents;" href="/user/logout" onclick="return confirm('Are you sure?')"><button class="btn btn-primary">Logout</button></a>
    
     <!-- add user form -->
     <!-- form handling -->
 <form action="/dashboard/api/contact" style="display: flex ;" method="get" class="mt-5">
  <table class="table ">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>@Email</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <%- include('partials/display') -%>
    </tbody>
  </table>
  </form>
  
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('partials/footer') -%>
<!-- /include footer -->
</html>
